.nav-underline .nav-link {
    position: relative;
    color: grey; 
    text-decoration: none; 
    transition: color 0.3s;
    font-weight: bold;
}

.nav-underline .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; 
    bottom: 0;
    right: 0; 
    background-color: green; 
    transition: width 0.3s;
}

.nav-underline .nav-link:hover {
    color: green;
    font-weight: bold;
}

.nav-underline .nav-link:hover::before {
    width: 100%; 
}

.read-more {
    display: block;
    margin-top: 20px; 
    color: green; 
    text-decoration: none;
  }

  .read-more::after {
    font-weight: bold;
    content: ' >>';
  }
  